<!DOCTYPE html>
<html>
<head>
<link rel="import" href="https://www.google.co.in/">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

// $(document).ready(function(){
// 	alert("hi");
//     $("button").click(function(){
//         $("p").slideToggle();
//     });
//     document.getElementById("demo").innerHTML = "Paragraph changed!";
//     document.getElementsByTagName("p").innerHTML = "Hello World!";
    
//     // console.log(content);
//     var test = document.getElementsByClassName('test');
//     var testValue = test[0].dataset.testValue;
//     alert(testValue);
//     document.getElementById("conta").innerHTML = testValue;
// });
</script>
</head>
<body>
	<!-- <div> 
    <object type="text/html" data="https://www.youtube.com/" width="800px" height="600px" style="overflow:auto;border:5px ridge blue">
    </object>
 </div> -->
<p id="demo">This is a paragraph.</p>
<button><%= darthVader %></button>
<div id="conta"></div>

</body>
</html>
